/* Variables */

:root {
  --white: #FFFFFF;
  --black: #000000;
  --basic-red: #EE3643;
  --basic-red-dark: #BA2732;
  --basic-red-extra: #CA2C37;
  --basic-green: #63A63E;
  --basic-green-dark: #367315;
  --basic-green-light: #5FBB2D;
  --basic-green-extra: #518534;
  --basic-blue: #32425C;
  --basic-blue-dark: #293449;
  --basic-blue-darker: #1D2739;
  --basic-blue-active: #161D29;
  --basic-gray: #F3F7F9;
  --basic-gray-light: #F1F5F7;
  --basic-gray-dark: #A9A9A9;
  --gray: #F2F6F8;
  --basic-brown-light: #F9F5F0;
  --basic-yellow: #FFD180;

  --special-yellow: #FFBF47;
  --special-yellow-light: #FFC047;
  --special-blue-light: #3BBCE3;
  --special-magenta: #DC91D8;
  --special-green: #8ED78F;
  --special-gray-light: #EAEAEA;
  --special-gray: #C5C5C5;
  --special-gray-extra: #E5E5E5;
  --special-gray-hover: #3D546F;
  --special-blue: #212A3A;
  --special-brown: #F7F3EC;

  --gray-opacity: rgba(0, 0, 0, 0.25);
  --light-gray-opacity: rgba(0, 0, 0, 0.01);
  --white-opacity-30: rgba(255, 255, 255, 0.3);
  --white-opacity-50: rgba(255, 255, 255, 0.5);
}

body  {
  margin: 0;
  padding: 0 ;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: var(--black);
}

img {
  max-width: 100%;
  height: auto;
}

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
}

/* Main navigation */

.main-header {
  background: var(--basic-gray);
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  padding-bottom: 60px;
}

.header-top {
  background-color: var(--basic-blue-dark);
}

.header-top-wrapper {
  font-size: 18px;
  line-height: 24px;
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
}

.header-top-logo {
  min-width: 220px;
  min-height: 42px;
  background-color: var(--basic-red);
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}

.header-top-logo:active {
  background-color: var(--basic-red-dark);
}

.header-top a {
  color: var(--white);
  text-decoration: none;
}

.header-top a:active{
  color: var(--white-opacity-50);
}

.site-search input {
  background-color: var(--basic-blue-dark);
}

.site-search input:focus {
  background-color: var(--white);
}

.site-search button {
  visibility: hidden;
}

.header-bookmarks:active {
  background-color: var(--basic-blue-active) ;
}

.header-buy-link {
  background-color: var(--basic-green);
}

.header-buy-link:hover {
  background-color: var(--basic-green-light);
}

.header-middle {
  width: 940px;
  min-height: 153px;
  margin: 0 auto;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-text {
  font-size: 16px;
  font-style: italic;
  line-height: 23px;
  color: var(--basic-red);
  max-width: 200px;
}

.header-contacts {
  text-align: center;
}

.header-phone {
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-red);
  text-decoration: none;
  border: 3px solid #ffffff;
  box-sizing: border-box;
}

.header-address {
  font-size: 14px;
  line-height: 24px;
  color: var(--basic-blue);
}

.profile-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 300px;
}

.login-link,
.signup-link,
.profile-link {
  font-size: 21px;
  line-height: 21px;
  color:  var(--black);
  text-decoration: none;
  text-align: center;
  background-color: var(--white);
  margin-left: 10px;
  padding: 12px 24px;
}

.profile-link {
  width: 100%;
}

.orders-link,
.account-link {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-blue);
  text-decoration: none;
  text-align: center;
}

.header-bottom {
  margin-bottom: 0px;
}

.header-bottom nav {
  background-color: var(--basic-blue);
  box-shadow: inset 0px -5px 0px var(--basic-blue-dark);
  width: 940px;
  margin: 0 auto;
}

.site-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 60px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.site-navigation a {
  font-size: 18px;
  line-height: 24px;
  color: var(--white);
  text-decoration: none;
}

.site-navigation a:hover {
  background-color: var(--basic-blue-dark);
}

.site-navigation a:active {
  opacity: 0.5;
}

/* Content */

.main-content {
  background-color: var(--white);
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.offers {
  background-color: var(--white);
  font-family: "Cuprum", Arial, sans-serif;
  color: var(--white);
  margin-top: 59px;
  margin-bottom: 70px;
}

.offers-list-top {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.offers-list-bottom {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 266px;
  justify-content: space-between;
  align-content: space-between;

}

.offers-item {
  width: 300px;
  height: 123px;
}

.offers-item a {
  text-decoration: none;
  color: var(--white);
}

.offers-item:nth-child(1) {
  background-color: var(--special-yellow);
}

.offers-item:nth-child(2) {
  background-color: var(--special-blue-light);
}

.offers-item:nth-child(3) {
  background-color: var(--special-magenta);
}

.offers-item:nth-child(4) {
  background-color: var(--special-green);
}

.offers-item:nth-child(5) {
  background-color: var(--special-yellow-light);
}

.offers-list-bottom li:nth-child(2) {
  background-color: var(--special-green);
}

.offers-list-bottom li:nth-child(3) {
  background-color: var(--special-yellow-light);
}

.offers-item b {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.offers-link {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  background-color: var(--white-opacity-30);
}

.slider {
  width: 620px;
  height: 266px;
}

.slider-top {
  background: var(--gray-opacity);
  margin-top: -330px;
}

.slider-top h3 {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.slider-top p {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

.button {
  background-color: var(--basic-red);
  color: var(--white);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
}

.button:hover {
  background-color: var(--basic-red-extra);
}

.button:active {
  background-color: var(--basic-red-dark);
}

.section-top {
  background-color: var(--basic-brown-light);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-top h2 {
  font-family: "Cuprum", Arial, sans-serif;
  color: var(--basic-blue);
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

.products-list {
  list-style: none;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;
  margin: 20px 0 70px 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.products-list.popular {
  display: flex;
}


.main-product-list {
  list-style: none;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;
  margin: 20px 0 52px 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}


.products-item {
  box-sizing: border-box;
  width: 220px;
  border: 1px solid var(--special-gray-light);
  margin-bottom: 18px;

}

.products-title {
  font-size: 18px;
  line-height: 20px;
  color: var(--black);
  text-decoration: none;
  text-align: center;
}

.products-item span {
  font-size: 17px;
  line-height: 18px;
  color: var(--basic-gray-dark);
  text-decoration: line-through;
  text-transform: uppercase;
}

.price {
  font-size: 17px;
  line-height: 18px;
  color: var(--white);
  background-color: var(--basic-red);
  text-transform: uppercase;
}

.button-buy,
.button-bookmarks {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  width: 135px;
  height: 38px;
  border-radius: 2px;
  text-transform: uppercase;
}

.button-buy {
  background-color: var(--basic-green);
  box-shadow: inset 0px -3px 0px var(--basic-green-dark);
  border-width: 0px;
  color: var(--white);
  outline: none;
}

.button-buy:hover {
  background-color: var(--basic-green-light);
}

.button-buy:active {
  background-color: var(--basic-green-extra);
}


.button-bookmarks {
  background-color: var(--white);
  border: 3px solid var(--basic-green);
  color: var(--basic-blue);
  outline: none;
}

.button-bookmarks:hover {
  border: 3px solid var(--basic-blue);
}

.button-bookmarks:active {
  border: 3px solid var(--basic-blue);
  opacity: 0.5;
}

.brands-list {
  list-style: none;
  margin: 20px 0 50px 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.brands-item {
  box-sizing: border-box;
  width: 220px;
  height: 145px;
  border: 1px solid #EAEAEA;
  margin-bottom: 20px;
}

.gray {
  background-color: var(--basic-gray-light);
}

.services {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 70px;
}

.services h2,
.services p {
  width: 100%;
}

.services,
.section-text {
  background-color: var(--basic-gray-light);
}

.section-text {
  padding-top: 64px;
  padding-bottom: 68px;
}

.services h2,
.services-item h3,
.company h2,
.contacts h2,
.section-text h2 {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

.services h2,
.section-text h2 {
  color: var(--black);
}

.section-text p{
  margin: 0;
}

.services-item h3 {
  color: var(--basic-blue);
}

.services-tabs {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
  margin-top: 70px;
  width: 240px;
}

.services-button {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  line-height: 30px;
  color: var(--white);
  background-color: var(--basic-blue);
  height: 61px;
}

.services-button:hover {
  background-color: var(--basic-blue-dark);
}

.services-button:active {
  color: var(--basic-blue);
  background-color: var(--white);
}

.services-list {
  padding-left: 80px;
  flex-grow: 1;
}

.about {
  display:flex;
  justify-content: space-between;
  background-color: var(--white);
  margin-bottom: 70px;
}

.company {
  width: 460px;
}

.contacts {
  width: 300px;
}

.partners {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

/* Catalog page */

.breadcrumbs {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  width: 100%;
}

.breadcrumbs li {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--black);
  margin-right: 20px;
}

.breadcrumbs a {
  text-decoration: none;
  color: var(--black);
}

.catalog-heading {
  width: 100%;
  font-family: "Cuprum", Arial, sans-serif;
  color: var(--basic-blue);
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  background-color: var(--gray);
}

.catalog-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 59px;
}

.products-wrapper {
  width: 700px;
}

.filter {
  width: 220px;
}

.filter h2 {
  background-color: var(--special-brown);
}

.sorting {
  background-color: var(--special-brown);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter h2,
.sorting h2{
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

.sorting h2 {
  margin-right: 140px;
}

.sorting-link {
  font-size: 13px;
  line-height: 18px;
  color: var(--black);
  opacity: 0.3;
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: 1px dotted var(--basic-red);
}

.sorting-link:hover {
  opacity: 1;
  border-bottom: 1px solid var(--basic-red);
}

.sorting-link.current {
  border-bottom: none;
  color: var(--basic-red);
  opacity: 1;
}

.pagination {
  list-style: none;
  display: flex;

}

.page-item {
  background: #FFFFFF;
  box-sizing: border-box;
  border: 1px solid var(--special-gray-extra);
  border-radius: 2px;
  padding: 10px 15px;
  margin-right: 10px;
}

.page-item.current {
  background-color: var(--basic-red);
  border: 1px solid var(--basic-red);
}

.page-item:hover {
  border: 1px solid var(--special-gray);
}

.page-item:active {
  border: 1px solid var(--basic-red);
}

.page-link {
  font-size: 13px;
  line-height: 18px;
  color:  var(--black);
  text-decoration: none;
}

.page-link.current {
  color: var(--white);
}

/* Footer */

.page-footer {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  background-color: var(--basic-blue);
}

.footer-container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
}

.footer-middle {
  display: flex;
  justify-content: space-between;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
}

.footer-top-logo {
  width: 220px;
  height: 68px;
  background-color: var(--basic-red);
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}

.footer-top ul,
.footer-middle ul {
  list-style: none;
  padding: 0;
}

.footer-top ul {
  display: flex;
  width: 549px;
  justify-content: space-between;
}

.footer-top-item a {
  color: var(--basic-gray-light);
  text-decoration: none;
}

.footer-address {
  width: 330px;
}

.footer-middle ul {
  display: flex;
  width: 525px;
  justify-content: space-between;
}

.footer-middle p {
  color: var(--basic-gray);
}

.footer-middle a{
  color: var(--basic-yellow);
  text-decoration: none;
}

.footer-top-item a:hover,
.footer-middle a:hover {
  text-decoration: underline;
}

.footer-top-item a:active,
.footer-middle a:active {
  opacity: 0.5;
}

.footer-bottom p {
  font-size: 16px;
  line-height: 18px;
  color: var(--white);
}

.footer-bottom a {
  text-decoration: none;
  color: var(--basic-yellow);
}

.footer-bottom a:hover {
  text-decoration: underline;
}

.footer-bottom a:active {
  color: var(--basic-red);
  text-decoration: none;
}

.footer-bottom ul {
  list-style: none;
  padding: 0;
}

.footer-email,
.footer-copyright {
  width: 140px;
  justify-self: end;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
